<% @reminders.each do |reminder| %>
  <li id="reminder_<%= reminder.id %>" style='margin-left: -1px;'>
    <div class="remindersColumn"><%= check_box_tag "reminders[]","#{reminder.id}",false,:onclick => "hide_review('#{current_user.role}',this)" %></div>
    <h4><%= reminder.client.first_name %></h4>
    <p><%= reminder.description %></p>
  </li>
<% end %>