<div id="calendar"></div>
<script>
  $(document).ready(function() {
    var url = window.location.pathname;
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
      events: [
        // events here
      ],
      editable: false,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      minTime: 8,
      maxTime: 23,
      defaultView: 'month',
      height: 500,
      slotMinutes: 15,
      loading: function(bool) {
        if (bool)
          $('#loading').show();
        else
          $('#loading').hide();
      },
      // a future calendar might have many sources.
      eventSources: [{
          url: url,
//            color: 'yellow',
//            textColor: 'black',
          ignoreTimezone: false
        }],
      timeFormat: "h:mm tt{ - h:mm tt} ",
      dragOpacity: "0.5"
    });

  });
</script>

<!--<div class="calendarCollExp">						
  <div class="commonr">
    <div class="icon-calendar">
      <a title="WEEK" href="#">WEEK</a>   |   <a title="MONTH" href="#">MONTH</a>
      <input title="Calendar" type="text" id="datepicker" />
    </div>
    <div class="daySchedule">
      <div id="prev212" class="arrow-left"></div>						
      WEEK OF <span>APRIL 8 2014</span><br>
      <a title="EXPAND ALL" href="#">EXPAND ALL</a>   |   <a title="COLLAPSE  ALL" href="#">COLLAPSE  ALL</a>
      <div id="next212" class="arrow-right"></div>
    </div>
    <ul class="menu-calendar">
      <li><a title="ROOM" href="#">ROOM</a>
        <div class="submenu-calendar">
          <div><a title="Click to view" href="#">Click to view</a> | <a title="Clear all" href="#">Clear all</a></div>
          <ul class="list-submenu-calendar">
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %><span style="border-color:#000;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#F00;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#0C6;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#099;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#336;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#C60;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#3CF;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#F0C;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#CCF;">Name</span></li>
          </ul>
        </div>
      </li>
      <li><a title="COUNSELOR" href="#">COUNSELOR</a>
        <div class="submenu-calendar">
          <div><a title="Click to view" href="#">Click to view</a> | <a title="Clear all" href="#">Clear all</a></div>
          <ul class="list-submenu-calendar">
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#000;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#F00;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#0C6;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#099;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#336;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#C60;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#3CF;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#F0C;">Name</span></li>
            <li><%#= image_tag("/assets/counselor/checkbox-uncheck.png",:class => "fleft") %> <span style="border-color:#CCF;">Name</span></li>
          </ul>
        </div>
      </li>
    </ul>					
  </div>
  <div class="list_carousel caroulproduct2">
    <ul id="caroulproduct2">
      <li>
        <ul id="collexp-menu" class="collexpMenu">
          <%# ["monday","tuesday","wedensday","thursday","friday","saturday","sunday"].each do |day| %>
            <li>
              <div title="Monday" class="expanded">
                <table class="table-calendarTitle" cellpadding="0" cellspacing="0" width="100%" border="0">
                  <tr>
                    <td><%#= day %></td>
                    <%# (8..22).each do |i| %>
                      <td><%#= i.to_s+":00" %></td>
                    <%# end %>
                  </tr>
                </table>
              </div>
              <ul>
                <li>
                  <table class="table-roomavailability" cellpadding="0" cellspacing="0" width="100%" border="0">
                    <%# (1..10).each do |i| %>
                      <tr>
                        <td>ROOM <%#= i %><br><span>reserve</span></td>
                        <td colspan="4">
                          <div class="roomReserve">
                            <table class="table-orange" cellpadding="0" cellspacing="0" width="100%" border="0">
                              <tr>
                                <td colspan="4">PETER</td>
                              </tr>
                              <tr>
                                <td>JA</td>
                                <td>BC</td>
                                <td>RS</td>
                                <td>LP</td>
                              </tr>
                            </table>
                            <div class="arrow-calendar-popup"></div>
                            <div class="roomReserveContent">
                              <h4>ROOM <%#= i %></h4>
                              <p>
                                <select>
                                  <option>START 8:00</option>
                                </select>
                                <select>
                                  <option>END 8:00</option>
                                </select>
                                <select>
                                  <option>COUNSELOR</option>
                                </select>
                                <select>
                                  <option>CASE NAME</option>
                                </select>
                              </p>
                              <input type="submit" title="reserve" value="reserve" />
                            </div>
                          </div>	
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    <%# end %>
                  </table>							
                </li>
              </ul>
            </li>
          <%# end %>
        </ul>
      </li>
    </ul>
    <div id="pager212" class="pager"></div>
  </div>		
</div>
<div class="clearFix"></div>-->